/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    border: none;
    outline: none;
    background-color: #7e7e7e;
    color: #fff;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#topBtn:hover {
    background-color: #444;
    transform: scale(1.1);
}

/* Navigation bar */
nav {
    background-color: #333;
    color: #f4f4f4;
    padding: 20px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
}

nav h2 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
    width: 100%;
    text-align: center;
}

nav h2 a {
    color: #f4f4f4;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: center;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 8px;
}

.social-icons {
    text-align: center;
}

.social-icon {
    display: inline-block;
    margin: 20px 10px 0;
}

.social-icon svg {
    width: 24px;
    height: 24px;
    transition: fill 0.3s;
}

.linkedin-icon svg { fill: #0A66C2; }
.linkedin-icon svg:hover { fill: #005582; }

.gmail-icon svg { fill: #EA4335; }
.gmail-icon svg:hover { fill: #a4302a; }

.github-icon svg { fill: #f4f4f4; }
.github-icon svg:hover { fill: #838383; }

.icon {
    display: none;
    color: #f4f4f4;
    font-size: 24px;
    cursor: pointer;
}

.pdf-icon {
    display: inline-block;
    margin-left: 8px;
}

.pdf-icon svg {
    width: 24px;
    height: 24px;
    fill: #333;
}

.pdf-icon svg:hover {
    transform: scale(1.3);
}

/* Main content */
section {
    margin-left: 290px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 30px;
    flex: 1;
    background-color: #f4f4f4; 
    color: #333;
    border-radius: 12px;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    margin-top: 30px;
}

.skills-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    width: calc(40%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skills-card h3 {
    color: #0A66C2;
    margin-top: 0;
    font-size: 1.5em;
}

.skills-card p {
    margin: 10px 0;
    color: #555;
}

.skills-card strong {
    color: #333;
}

.skills-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Projects */
.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.project-inner-container {
    flex: 0 1 calc(50% - 20px);;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.video-container {
}

.overview-container {
    padding: 0 30px;
    padding-bottom: 20px;
}


.project-title-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-button {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.project-button button {
    border: none;
    background-color: #f4f4f4;
    border-radius: 8px;
    cursor: pointer; 
}

.project-button button:hover {
    transform: scale(1.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

section iframe {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

section img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
}

.profile-info {
    margin-left: 40px;
    height: 220px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
    .skills-card {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 768px) {
    nav {
        width: auto;
        height: auto;
        position: relative;
        padding-top: 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    nav h2 {
        padding-bottom: 0;
        border-bottom: none;
        width: auto;
    }

    nav ul {
        display: none;
        width: 100%;
        order: 3;
        margin: 10px 0 0 0;
    }

    nav ul.show {
        display: block;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }

    .icon {
        display: block;
        order: 2;
    }

    .social-icons {
        width: 100%;
        margin-top: 20px;
        order: 4;
    }

    nav.responsive ul {
        display: block;
    }

    section {
        margin-left: 0;
        margin-right: 0;
        margin: 20px;
        padding: 20px;
    }

    section h1  {
        text-align: center;
    }

    section h2  {
        text-align: center;
    }

    .profile-info h2 {
        text-align: start;
    }

    .skills-container {
        gap: 20px;
    }

    .skills-card {
        width: 100%;
    }

    #resume h1 {
        margin-left: 8px;
    }

    .project-inner-container {
        flex: 1 1 100%;
    }

    #topBtn {
        bottom: 15px;
        right: 30px;
    }
}

@media screen and (max-width: 888px) and (min-width: 769px) {
    #home h1 {
        text-align: center;
    }

    .profile {
        flex-direction: column;
    }
    
    .profile-info {
        margin: 0px;
        /* text-align: center; */
    }

    .profile-info h2 {
        text-align: center;
    }

    .project-inner-container {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 580px) {
    .profile {
        flex-direction: column;
    }
    
    .profile-info {
        margin: 0px;
        /* text-align: center; */
    }

    .profile-info h2 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .skills-card h3 {
        font-size: 1.2em;
    }
}

