body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #333;
    color: #f4f4f4;
    padding: 20px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 20px;
}

nav h2 {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: center;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 8px;
}

section {
    margin-left: 290px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 30px;
    flex: 1;
    background-color: #f4f4f4; 
    color: #333;
    border-radius: 12px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
/* -------------icon--------------- */
.social-icon {
    display: inline-block;
    margin: 20px 10px 0;
    text-align: center;
}

.linkedin-icon svg {
    width: 24px;
    height: 24px;
    fill: #0A66C2; /* LinkedIn color */
    transition: fill 0.3s;
}

.linkedin-icon svg:hover {
    fill: #005582; /* Darker shade for hover effect */
}

.gmail-icon svg {
    width: 24px;
    height: 24px;
    fill: #EA4335; /* Gmail color */
    transition: fill 0.3s;
}

.gmail-icon svg:hover {
    fill: #a4302a; /* Darker shade for hover effect */
}

.github-icon svg {
    width: 24px;
    height: 24px;
    fill: #f4f4f4; /* GitHub color */
    transition: fill 0.3s;
}

.github-icon svg:hover {
    fill: #838383; /* Darker shade for hover effect */
}